<div class= sidebar></div>

<div class="banner">
  <div class="container">

    <h1>Find the best <strong>concerts</strong> in <strong>Paris</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<div class="room">
<ul>
  <% @rooms.each do |room| %>
    <li><%= room.name %> <%= link_to 'See concerts', room_path(room) %></li>
  <% end %>
</ul>


<%= link_to 'Add a room', new_room_path %>
</div>
