<div class="container">
<div class= sidebar></div>

<div class="room">
<ul>
  <% @rooms.each do |room| %>
    <li><%= room.name %> <%= link_to 'See concerts', room_path(room) %></li>
  <% end %>
</ul>


<%= link_to 'Add a room', new_room_path %>
</div>
</div>
